@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-jetbrainsMono, monospace) !important;
}

.banner {
  background-image: url("/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
